<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AppWeb</title>
</head>

<body>
    <a href="/">Home</a>
    <h1>Update product</h1>
    <form action="/product/update/{{product.id}}" method="POST">
        <h1>Name</h1>
        <input type="text" name="name" value="{{product.name}}">
        <h1>Description</h1>
        <input type="text" name="description" value="{{product.description}}">
        <h1>Image</h1>
        <input type="text" name="image" value="{{product.image}}">
        <button type="submit">Update</button>
    </form>
</body>

</html>